@media (max-width: 2160px) {
    .content {
        max-width: 1170px;
    }
    .catalogue__content {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
}

@media (max-width: 1200px) {
    .content {
        max-width: 77.5%;
    }
    .catalogue {
        max-width: 890px;
        margin-left: auto;
        margin-right: auto;
    }
    .catalogue__content {
        grid-template-columns: repeat(3, 1fr);
    }
    .cart {
        &__pic {
            margin-right: 3.5rem;
        }
        &__name {
            padding-top: 10px;
            margin-right: 3rem;
        }
        &__counter {
            margin-right: 4.6rem;
        }
        &__total {
            font-size: 26px;
            padding: 30px 0 60px 0;
        }
    }
}

@media (max-width: 1050px) {
    .cart {
        &__item {
            padding-right: 2.5%;
            & > *:not(:last-child) {
                margin-right: auto;
            }
        }
        &__name {
            max-width: 23%;
        }
    }
}

@media (max-width: 750px) {
    .h1 {
        margin-bottom: 30px;
    }
    .content {
        margin: 0 30px;
        max-width: calc(100% - 60px);
    }
    .catalogue__content {
        grid-template-columns: 450px;
    }
    .item {
        height: 590px;
        min-height: unset;
        max-height: unset;
        padding: 21px 0;
        
        &__name {
            margin-top: 15px;
            max-width: 330px;
        }
        &__pic {
            width: 335px;
            height: 399px;
        }
        &__price {
            margin-top: 0;
            padding: 15px 0;
        }
    }
    .cart {
        &__name, &__counter, &__price, &__close {
            text-align: center;
            margin-bottom: 15px;
            margin-right: 0;
        }
        &__name {
            max-width: 100%;
            padding-top: 0;
            order: 2;
        }
        &__price {
            order: 3;
        }
        &__counter {
            order: 4;
        }
        &__item {
            padding: 30px 0;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            & > * {
                margin-right: 0;
            }
            & > *:not(:last-child) {
                margin-right: 0;
            }
        }
        &__pic {
            order: 1;
            margin-bottom: 11px;
            width: 335px;
            height: 399px;
        }
        &__total {
            box-sizing: border-box;
            width: 100%;
        }
        &__close {
            width: unset;
            height: unset;
            order: 5;
            position: relative;
            margin-left: 0;
            margin-bottom: 0;
            &-btn {
                display: block;
            }
            & button {
                padding: 10px 40px 9px 62px;
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                text-transform: none;
            }
            & svg {
                position: absolute;
                left: 40px;
                & line {
                    stroke: #fff;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .nav {
        margin-top: 28.6px;
    }
    .logo img {
        width: 180px;
        height: 30px;
    }
    .basket__text {
        display: none;
    }
}

@media (max-width: 579px) {
    .h1 {
        font-size: 26px;
    }
    .content {
        margin: 0 15px;
        padding: 0;
        min-width: 290px;
        max-width: calc(100% - 30px);
    }
    .nav {
        margin-top: 28.5px;
    }
    .catalogue {
        margin-top: 50px;
    }
    .catalogue__content {
        grid-template-columns: 270px;
        gap: 30px;
    }
    .item {
        height: 380px;
        padding: 10px 20px;
        &__pic {
            width: 200px;
            height: 200px;
        }
        &__name {
            margin-top: 4px;
        }
        &__price {
            margin-top: auto;
        }
    }
    .form__wrapper {
        padding: 0 17px 0 16px;
        & > * {
            width: 100%!important;
        }
        & button {
            margin-bottom: 0;
            }
    }
    .cart {
        &__wrapper {
            & .h1 {
                margin-top: 49px;
            }
        }
        &__name {
            margin-bottom: 0;
        }
        &__item {
            min-height: 486px;
            & > * {
                max-width: 250px;
            }
        }
        &__price {
            margin-top: auto;
        }
        &__pic {
            margin-bottom: 15px;
            width: 200px;
            height: 200px;
        }
        &__form {
            padding-top: 50px;
            padding-bottom: 32px;
        }
        &__total {
            margin-top: 0!important;
        }
    }
    
    .modal-custom-confirm {
        box-sizing: border-box;
        max-width: 278px;
        padding: 32px 20px 30px 20px;
    }
    .dialogue__modal-msg {
        font-size: 18px!important;
        &:last-child {
            font-size: 16px!important;
        }
    }
    .dialogue__modal-bold {
        font-size: 18px!important;
        &:last-child {
            font-size: 16px!important;
        }
    }
    .footer {
        &__text {
            margin-top: 50px;
            margin-bottom: 59px;
            padding-bottom: 17px;
        }
    }
}